body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(184, 130, 130);
    font-family: Arial, sans-serif;
    text-align: center;
}
.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.buttons button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
#yes {
    background-color: rgb(20, 16, 16);
    color: white;
}
#no {
    background-color: rgb(229, 25, 25);
    color: white;
}
